@tailwind base;

@tailwind components;

@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
.link-bg-decoration::after {
  @apply h-52 w-52 absolute bg-yellow-700;
}

@layer base {
  html {
    font-family: 'Aboreto', system-ui, sans-serif;
  }
}
.pic-overlay {
}
.pic-overlay::before {
  content: '';
  position: absolute;
  width: 8rem;
  height: 8rem;
  z-index: 5000;
  background-color: rgb(254 240 138);
  opacity: 0.2;
  border-radius: 100px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.moveInLeft {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-delay: 3s;
  animation-iteration-count: 3; */
}

.moveInRight {
  animation: moveInRight 1s ease-out;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
